:root{
  --default:#0081ff;
}
.App {
  text-align: center;
}
.d-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
.perspective-box{
  width:80%;
  height:60%;
  background:rgba(255,255,255,0.166);
  border-radius:1rem;
  perspective: 500px;
  perspective-origin:50% 50%;
  position:relative;
}
.perspective-box:after{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  background:rgba(255,255,255,0.795);
  border-radius: 1rem;
  transition:all 0.5s ease;
  transform:translate(-50%,-50%) rotateY(25deg);
}
.perspective-box:hover:after{
  transform:translate(-50%,-50%) rotateY(0deg);
}
.fileControl{
  display:flex;
  align-items:center;
  justify-content: center;
  position:relative;
}
.fileControl input{
  position:relative;
  opacity:0;
  width:12rem;
  height:12rem;
  z-index:3;
}
.fileControl:before{
  content:'+';
  font-size:3rem;
  display:flex;
  align-items:center;
  justify-content: center;
  width:12rem;
  height:12rem;
  position:absolute;
  top:0;
  left:0;
  border:2px solid black;
  border-radius:100%;
}
.Block-left,
.Block-right,
.Block-center{
  display:block;
  margin:0.5rem;
}
.Block-left .Block-Model,
.Block-right .Block-Model,
.Block-center .Block-Model{
  width:5rem;
  height:6rem;
  border-radius:0.5rem;
  background:rgb(196,196,196);
  position:relative;
}
.Block-left .Block-Model:before,
.Block-right .Block-Model:before,
.Block-center .Block-Model:before{
  content:'';
  width:2.5rem;
  height:4rem;
  display:block;
  position:absolute;
  background:#0064ff;
  border-radius:0.3rem;
  top:16%;
  
}
.Block-right .Block-Model:before{
  right:3%;
}
.Block-left .Block-Model:before{
  left:3%;
}
.Block-center .Block-Model:before{
  left:50%;
  transform:translateX(-50%);
}
.Block-left .Block-label,
.Block-right .Block-label,
.Block-center .Block-label{
  text-align:center;
  font-weight:bold;
  line-height:0.5rem;
}
.card-header{
  background:none;
  display:flex;
}
.card-head-icon{
  padding:1rem;
  border-radius:0.5rem;
  color:#0090ff;
  background:#a1cfff;
  box-shadow:2px 2px 5px #4c4c4c,
             inset -2px -2px -5px #d3e8fe;
}
.card-head-icon svg{
  font-size:3rem;
}
.spinner{
  padding:1rem;
  display:grid;
  place-items:center;
  animation: spinner 0.5s linear infinite;
  
}
.spinner svg{
  font-size:5rem;
  font-weight:bold;
  color:var(--default);
}
@keyframes spinner{
  from{
    transform:rotate(0deg)
  }
  to{
    transform:rotate(360deg)
  }
}